{% extends 'forms/main_template.html' %}

{% block home_link %}
<a href="{% url 'forms:user' user.id %}">Forms</a>
{% endblock %}

{% block content %}
    {% if user %}
        <h1 class="page-header">Hello {{ user.username }}</h1>
    {% endif %}
    <h2>Forms:</h2>
    {% if forms %}
        <ul>
            {% for form in forms %}
                <li><a href="{% url 'forms:form' user.id form.id %}" style="font-size:18px">{{ form.name }}</a></li>
                <br/>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no forms to show!</p>
    {% endif %}
    <a href="{% url 'forms:new_form' user.id %}">Create a new form</a>
    <br/>
    <br/>
{% endblock %}