table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: #333;
}
th, td {
    padding: 5px;
    text-align: center;
    font-family: helvetica;
}
.odd {
    background-color: #eee
}
.even {
    background-color: white
}