
table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    color: #333;
}

th, td {
    padding: 5px;
    text-align: center;
    font-family: helvetica;
}


.odd {
    background-color: #eee
}

.even {
    background-color: white
}

.given {
    background-color: #14d3f2;
    color: white;
}

.not-given {
    background-color: #AAA;
    color: white;
}