{% extends 'main/base.html' %}

{% block title %}Chart{% endblock %}
{% block schedule_class %}active{% endblock %}
{% block content %}
    <h2 class="page-header">Chart for {{ member.first_name }} {{ member.last_name }}:</h2>
    <h4><a href="{% url 'schedule:family' family.id %}">Click here to return to the overview for
        the {{ family.last_name }} family</a></h4>
    <div class="table-responsive">
        <form action="{% url 'schedule:update' family.id member.id %}" method="post" class="form-group">
            {% csrf_token %}
            <input type="submit" class="form-control" value="Update"/>
            <br/>
            <table style="width: 100%" class="table">
                <thead>
                <tr height="60px">
                    <th><p>Age --></p>
                        Vaccine
                    </th>
                    <th>
                        Birth
                    </th>
                    <th>
                        1 month
                    </th>
                    <th>
                        2 months
                    </th>
                    <th>
                        4 months
                    </th>
                    <th>
                        6 months
                    </th>
                    <th>
                        12 months
                    </th>
                    <th>
                        15 months
                    </th>
                    <th>
                        18 months
                    </th>
                    <th>
                        24 months
                    </th>
                    <th>
                        4-6 years
                    </th>
                    <th>
                        11-12 years
                    </th>
                    <th>
                        14-18 years
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr height="30px" class="odd">
                    <th rowspan="2">
                        Hepatitis B
                    </th>
                    {% if doses.0.0.given %}
                        <td colspan="3" class="given">
                            1st dose
                            <p>Given: {{ doses.0.0.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="3" class="not-given">
                            1st dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="hepatitis_b_1"/>
                        </td>
                    {% endif %}
                    <td>

                    </td>
                    {% if doses.0.2.given %}
                        <td colspan="4" rowspan="2" class="given">
                            3rd dose
                            <p>Given: {{ doses.0.2.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="4" rowspan="2" class="not-given">
                            3rd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="hepatitis_b_3"/>
                        </td>
                    {% endif %}
                    <td rowspan="2" colspan="2">

                    </td>
                    {% if doses.0.3.given %}
                        <td rowspan="2" class="given">
                            catch up
                            <p>Given: {{ doses.0.3.date }}</p>
                        </td>
                    {% else %}
                        <td rowspan="2" class="not-given">
                            catch up
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="hepatitis_b_4"/>
                        </td>
                    {% endif %}
                    <td rowspan="2">

                    </td>
                </tr>
                <tr height="30px" class="odd">
                    <td>

                    </td>
                    {% if doses.0.1.given %}
                        <td colspan="3" class="given">
                            2nd dose
                            <p>Given: {{ doses.0.1.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="3" class="not-given">
                            2nd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="hepatitis_b_2"/>
                        </td>
                    {% endif %}
                </tr>
                <tr height="60px" class="even">
                    <th>
                        Diphtheria, Tetanus, Pertussis
                    </th>
                    <td colspan="2">

                    </td>
                    {% if doses.1.0.given %}
                        <td class="given">
                            1st dose
                            <p>Given: {{ doses.1.0.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            1st dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="dtap_1"/>
                        </td>
                    {% endif %}
                    {% if doses.1.1.given %}
                        <td class="given">
                            2nd dose
                            <p>Given: {{ doses.1.1.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            2nd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="dtap_2"/>
                        </td>
                    {% endif %}
                    {% if doses.1.2.given %}
                        <td class="given">
                            3rd dose
                            <p>Given: {{ doses.1.2.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            3rd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="dtap_3"/>
                        </td>
                    {% endif %}
                    <td>

                    </td>
                    {% if doses.1.3.given %}
                        <td colspan="2" class="given">
                            4th dose
                            <p>Given: {{ doses.1.3.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="2" class="not-given">
                            4th dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="dtap_4"/>
                        </td>
                    {% endif %}
                    <td>

                    </td>
                    {% if doses.1.4.given %}
                        <td class="given">
                            5th dose
                            <p>Given: {{ doses.1.4.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            5th dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="dtap_5"/>
                        </td>
                    {% endif %}
                    {% if doses.1.5.given %}
                        <td colspan="2" class="given">
                            Tetanus + Diptheria
                            <p>Given: {{ doses.1.5.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="2" class="not-given">
                            Tetanus + Diptheria
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="dtap_6"/>
                        </td>
                    {% endif %}
                </tr>
                <tr height="60px" class="odd">
                    <th>
                        H. influenzae type b
                    </th>
                    <td colspan="2">

                    </td>
                    {% if doses.2.0.given %}
                        <td class="given">
                            1st dose
                            <p>Given: {{ doses.2.0.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            1st dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="influenzae_1"/>
                        </td>
                    {% endif %}
                    {% if doses.2.1.given %}
                        <td class="given">
                            2nd dose
                            <p>Given: {{ doses.2.1.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            2nd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="influenzae_2"/>
                        </td>
                    {% endif %}
                    {% if doses.2.2.given %}
                        <td class="given">
                            3rd dose
                            <p>Given: {{ doses.2.2.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            3rd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="influenzae_3"/>
                        </td>
                    {% endif %}
                    {% if doses.2.3.given %}
                        <td colspan="2" class="given">
                            4th dose
                            <p>Given: {{ doses.2.3.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="2" class="not-given">
                            4th dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="influenzae_4"/>
                        </td>
                    {% endif %}
                    <td colspan="5">

                    </td>
                </tr>
                <tr height="60px" class="even">
                    <th>
                        Inactivated Pollo
                    </th>
                    <td colspan="2">

                    </td>
                    {% if doses.3.0.given %}
                        <td class="given">
                            1st dose
                            <p>Given: {{ doses.3.0.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            1st dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="pollo_1"/>
                        </td>
                    {% endif %}
                    {% if doses.3.1.given %}
                        <td class="given">
                            2nd dose
                            <p>Given: {{ doses.3.1.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            2nd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="pollo_2"/>
                        </td>
                    {% endif %}
                    {% if doses.3.2.given %}
                        <td colspan="4" class="given">
                            3rd dose
                            <p>Given: {{ doses.3.2.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="4" class="not-given">
                            3rd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="pollo_3"/>
                        </td>
                    {% endif %}
                    <td>

                    </td>
                    {% if doses.3.3.given %}
                        <td class="given">
                            4th dose
                            <p>Given: {{ doses.3.3.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            4th dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="pollo_4"/>
                        </td>
                    {% endif %}
                    <td colspan="2">

                    </td>
                </tr>
                <tr height="60px" class="odd">
                    <th>
                        Pneumococcal Conjugate
                    </th>
                    <td colspan="2">

                    </td>
                    {% if doses.4.0.given %}
                        <td class="given">
                            1st dose
                            <p>Given: {{ doses.4.0.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            1st dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="pneumococcal_1"/>
                        </td>
                    {% endif %}
                    {% if doses.4.1.given %}
                        <td class="given">
                            2nd dose
                            <p>Given: {{ doses.4.1.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            2nd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="pneumococcal_2"/>
                        </td>
                    {% endif %}
                    {% if doses.4.2.given %}
                        <td class="given">
                            3rd dose
                            <p>Given: {{ doses.4.2.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            3rd dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="pneumococcal_3"/>
                        </td>
                    {% endif %}
                    {% if doses.4.3.given %}
                        <td colspan="2" class="given">
                            4th dose
                            <p>Given: {{ doses.4.3.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="2" class="not-given">
                            4th dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="pneumococcal_4"/>
                        </td>
                    {% endif %}
                    <td colspan="5">

                    </td>
                </tr>
                <tr height="60px" class="even">
                    <th>
                        Measles, Mumps, Rubella
                    </th>
                    <td colspan="5">

                    </td>
                    {% if doses.5.0.given %}
                        <td colspan="2" class="given">
                            1st dose
                            <p>Given: {{ doses.5.0.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="2" class="not-given">
                            1st dose
                            <br/>
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="mmr_1"/>
                        </td>
                    {% endif %}
                    <td colspan="2">

                    </td>
                    {% if doses.5.1.given %}
                        <td class="given">
                            2nd dose
                            <p>Given: {{ doses.5.1.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            2nd dose
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="mmr_2"/>
                        </td>
                    {% endif %}
                    {% if doses.5.2.given %}
                        <td class="given">
                            catch up
                            <p>Given: {{ doses.5.2.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            catch up
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="mmr_3"/>
                        </td>
                    {% endif %}
                    <td>

                    </td>
                </tr>
                <tr height="60px" class="odd">
                    <th>
                        Varicella (Chickenpox)
                    </th>
                    <td colspan="5">

                    </td>
                    {% if doses.6.0.given %}
                        <td colspan="3" class="given">
                            1st dose
                            <p>Given: {{ doses.6.0.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="3" class="not-given">
                            1st dose
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="varicella_1"/>
                        </td>
                    {% endif %}
                    <td colspan="2">

                    </td>
                    {% if doses.6.1.given %}
                        <td class="given">
                            catch up
                            <p>Given: {{ doses.6.1.date }}</p>
                        </td>
                    {% else %}
                        <td class="not-given">
                            catch up
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="varicella_2"/>
                        </td>
                    {% endif %}
                    <td>

                    </td>
                </tr>
                <tr height="60px" class="even">
                    <th>
                        Hepatitis A
                    </th>
                    <td colspan="8">

                    </td>
                    {% if doses.7.0.given %}
                        <td colspan="4" class="given">
                            1st dose (in selected areas)
                            <p>Given: {{ doses.7.0.date }}</p>
                        </td>
                    {% else %}
                        <td colspan="4" class="not-given">
                            1st dose (in selected areas)
                            <input class="datepicker form-control" type="text" placeholder="MM/DD/YYYY"
                                   name="hepatitis_a_1"/>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
            <input type="submit" class="form-control" value="Update"/>
        </form>
    </div>
{% endblock %}

