{% extends 'main/base.html' %}

{% block title %}Schedules{% endblock %}
{% block schedule_class %}active{% endblock %}
{% block content %}
    <h1>Immunization Schedules</h1>
    <h3>Here you can view and create immunization schedule charts for your family or for patients. </h3>
    <br/>
    <h3 class="page-header">Added Families</h3>
    {% if families %}
        {% for family in families %}
            <h5><a href="{% url 'schedule:family' family.id %}">- {{ family.last_name }}</a></h5>
        {% endfor %}
        <h5><a href="{% url 'schedule:new_family' %}">Add a new family</a></h5>
    {% else %}
        <h4>Get started <a href="{% url 'schedule:new_family' %}">here</a> by adding a new family along with each family
            member that you
            want to track immunizations for.
        </h4>
    {% endif %}

    <br/>
    <br/>
{% endblock %}