{% extends 'main/base.html' %}

{% block title %}New Family{% endblock %}
{% block schedule_class %}active{% endblock %}
{% block content %}
    <h1>Add a new family</h1>
    <form action="{% url 'schedule:add_family' %}" method="post" class="form-group">
        {% csrf_token %}
        <input name="last_name" type="text" placeholder="Last name (Can be changed for individual family members)"
               class="form-control"/>
        <br/>
        <input type="submit" value="Add family" class="form-control"/>
    </form>
{% endblock %}